* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background: #121212;
    color: #E0E0E0;
}

.Logo {
    border-radius: 100%;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-box .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: #1E1E1E;
    color: #E0E0E0;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    padding: 20px;
    overflow-y: auto;
    transition: 0.5s;
}

.sidebar:hover {
    width: 250px;
    transition: 0.5s;
}

.sidebar li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 16px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h1 {
    font-size: 24px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 15px 0;
    cursor: pointer;
}

.menu li:hover {
    background-color: #222;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #121212;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notifications img {
    width: 24px;
    height: 24px;
    margin-left: 15px;
}

.dashboard-header {
    margin-bottom: 20px;
}

.breadcrumb {
    color: #BBB;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: rgba(76, 68, 182, 0.9);
    padding: 15px;
    border-radius: 8px;
    width: calc(25% - 20px);
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    color: white;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.charts {
    display: flex;
    gap: 20px;
}

.chart {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.pie-chart, .bar-chart {
    height: 200px;
    background-color: rgba(76, 68, 182, 0.9);
    border-radius: 50%;
}

.table-container {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1E1E1E;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: hidden;
    color: #E0E0E0;
}

thead {
    background-color: #333;
    color: #E0E0E0;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    font-size: 14px;
    text-transform: uppercase;
}

tbody tr:hover {
    background-color: #222;
}

td {
    font-size: 14px;
    color: #E0E0E0;
}
